.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #C099CE;
    /* border-radius: 1.2rem; */
}
#list1{
    display: flex;    
    list-style: none;
}
#list2{
    list-style: none;   
}
#list1 li{
    margin-left: 2rem;
    font-size: larger;
}
#list2 li{
    margin-right: 2rem;
    font-size: larger;
}
#list1 li a , #list2 li a{
    text-decoration: none;
    color: white;
}
.jobcards{
    display: flex;
    height: 15rem;
    background-color: yellow;
}
.card{
    height: 100%;
    background-color: red;
    width: 15%;

}
.card h3{
    height: 15%;
    background-color: grey;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 1.5rem;
}
.card h2{
    height: 20%;
    background-color: black;
    margin-bottom: 4%;
}
.card h4{
    height: 53%;
    background-color: white;
    color: black;
    border-bottom: 2%;
}