.homebody{
    height: 100%;
    min-height: 700px;
    background-color: #FFE3FB;
}
.main{
    height: 100%;
    /* background-color: red; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #C099CE;
    /* border-radius: 1.2rem; */
    }
    #list1{
    display: flex;
    list-style: none;
    }
    #list2{
    list-style: none;
    }
    #list1 li{
    margin-left: 2rem;
    font-size: larger;
    }
    #list2 li{
    margin-right: 2rem;
    font-size: larger;
    }
    #list1 li a , #list2 li a{
    text-decoration: none;
    color: white;
    }
    .jobcards{
    display: flex;
    height: 15rem;
    /* background-color: yellow; */
    overflow-x: scroll;
    }

    .jobcards::-webkit-scrollbar {
        display: none;
    }

    .card{
    height: 100%;
    background-color: #D9D9D9;
    width: 15%;
    margin-left: 1.2rem;
    
    
    }
    .card h3{
    height: 15%;
    background-color: white;
    color: black;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: 3%;
    margin-right: 3%;
    overflow: scroll;
    }

    .card h3::-webkit-scrollbar {
        display: none;
    }

    .card h2{
    height: 20%;
    background-color: white;
    color: black;
    margin-bottom: 4%;
    border-radius: 3px;
    margin-left: 3%;
    margin-right: 3%;
    overflow: scroll

    }

    .card h2::-webkit-scrollbar {
        display: none;
    }

    .card h4{
    height: 53%;
    background-color: white;
    color: black;
    border-radius: 3px;
    margin-left: 3%;
    margin-right: 3%;
    overflow: scroll;

    /* color: black; */
    margin-bottom: 2%;
    }

    .card h4::-webkit-scrollbar {
        display: none;
    }

    .body{
        /* background-color: #FFE3FB; */
        height: 100%;
    }
    .jobshead{
        color: black;
        font-weight: bold;
        background-color:#D9D9D9 ;
        width: fit-content;
        border-radius: 1.2rem;
        padding: 5px;
        margin-left: 1.2rem;
        
    }

    .newthings{
        height: 200px;
        overflow: scroll;
        /* justify-content: center; */
        
    }
    .newthings h2{
        color: black;
    }
    .newthings::-webkit-scrollbar {
        display: none;
    }

    .footer h2{
        color: black;
        background-color: #D9D9D9;
        height: 100px;
    }