

.modal {
    width: 50vw;
    background: linear-gradient(180deg, #DCF9E0 0%, #FFFFFF 30.21%);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
  }
  
  .title {
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #2B2B2F;
    margin-bottom: 20px;
  }
  
  .description {
    max-width: 80%;
    margin: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #5F5D6B;
    margin: 10px auto;
  }
  

  .benefits {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .benefits > span {
    font-size: 15px;
    color: #2B2B2F;
    font-weight: 700;
  }
  
  .benefits ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .benefits ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .benefits ul li span {
    font-weight: 600;
    font-size: 12px;
    color: #5F5D6B;
  }
  
  .modal--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ebebec;
  }
  
  .price {
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 700;
    margin-right: 20px;
  }
  
  /* .price sup {
    font-size: 13px;
  }
  
  .price sub {
    width: fit-content;
    position: absolute;
    font-size: 11px;
    color: #5F5D6B;
    bottom: 5px;
    display: inline-block;
  } */
  
  .upgrade-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40px;
    background: #0bdd12;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .upgrade-btn:hover {
    background-color: #07b90d;
  }


form {
  border: 1px solid green;
}