@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
.container-rec{
    padding: 15px;
    width: 100vw;
    height: 100vh;
    
}
.recnav{
    background-color: white;
    width: 100%;
    height: 30vh;
    border-radius: 40px;
    padding-top: 10px;
    margin-bottom: 40px;
    display:flex; 
    justify-content:space-between; 
    flex-direction: column 
    
}

.recnav-nav{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 40px;
}

.recnav-nav p{
    font-size: 30px;
    color: rgb(29, 29, 29);
    font-family: 'Bungee Inline', cursive;
}

.search-bar{
    width: 50%;
    height: 70%;
    border: 2px solid lightblue;
    background-color: li;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}


.profile{
    height: 80%;
    aspect-ratio: 1/1;
    background-color: lightblue;
    border-radius: 50%;
}

.icons{
    color : rgb(59, 59, 59);
    font-size: 25px;
    font-weight: 15px;
}

.search-bar input{
    border: none;
    width: 80%;
    margin-left: 20px;
    font-size: 15px;
    outline: none;
}

.profile-menu{
    display: flex;
    height: 100%;
    align-items: center;
}

.menuicon{
    margin-right: 40px;
    font-size: 35px;
}

.quick-container{
    border:  3px solid lightblue;
    width: 100%;
    height: 55%;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
    
}


.innerholder{
    display :flex;
    height: 50px;
    align-items: center;
}

.innerholder p{
    font-size: 30px;
    color: rgb(29, 29, 29);
    font-family: sans-serif;
    margin-right: 40px;
    height: 100%;
}

.postbtn{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.postbtn button{
    background-color: lightblue;
    color: black;
    font-size: 30px;
    color: rgb(29, 29, 29);
    font-family: sans-serif;
    height: 100%;
    width: auto ;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}


.postbtn button::before,
.postbtn button::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(162, 220, 240, 0.199);
  transition: all 0.5s;
}

.postbtn button::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.postbtn button::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.postbtn button:hover::before,
.postbtn button:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}



.urdash{
    font-family: 'Bungee Inline', cursive;
        font-size: 40px;
    width: min-content;
    margin-left: 40px;
}


.dashcontainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 43vh;
    border-radius: 40px;
    display:flex; 
    margin-top: 20px;
    justify-content:space-evenly; 
    align-items: center;
}

.widget{
    /* border: 4px lightgray solid; */
    height: 70%;
    width: 20%;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    overflow: hidden;
    position: relative;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    
}
.appliedcontainer{
    background-image: url(ladywalk.png);
    background-size: cover;
    

}
.appliedcontainer > .heading{
    color: #2845ffb4;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: 80%;
    margin: 15px auto auto 5px;
}

.appliedcontainer > .number{
    color: #ffd500b4;
    font-family: sans-serif;
    font-size: 150px;
    font-weight: 700;
    width: 80%;
    margin: 15px auto auto 5px;
    position: absolute;
    left: -20px;
    bottom: -40px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    /* text-shadow: 10px 5px 30px rgba(131, 121, 47, 0.493); */
}

.appliedcontainer > .number:hover{
    /* transform: scale(1.01); */
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* left: -18px;
    bottom: -38px; */
    transform: scale(1.04);

}

.widget:hover{
    box-shadow: 20px 20px 40px #bebebec3,
    -20px -20px 40px #ffffff;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.opporcont{
    position: relative;
    font-family: sans-serif;
    border: 6px dotted lightblue;

    /* border: 4px dotted rgba(0, 139, 139, 0.134); */
    background-color: rgba(234, 243, 246, 0.479);

}

.opporcont > .slash {
    font-family:monospace;
    color: #2845ffb4;
    font-size: 220px;
    font-weight: 300;
    position: absolute;
    top:-20%;
    left : 25%;
}

.opporcont > .heading{
    color: #2845ffb4;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    right: 15px;
    position: absolute;
    top: 15px;
}

.opporcont > .headinglow{
    color: #2845ffb4;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    left: 15px;
    
}


.opporcont > .number{
    color: #ffd500b4;
    font-family: sans-serif;
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    left: -15px;
    top: -25px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.opporcont > .number2{
    color: #ffd500b4;
    font-family: sans-serif;
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    right: -15px;
    bottom: -25px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}


.opporcont > .number2:hover,.opporcont > .number:hover{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.04);

}

.newcadcont{
    background-image: url(boyredblue.png);
    background-size: cover;
    position: relative;
    font-family: sans-serif;
    border: 6px dotted lightblue;

}

.newcadcont > .heading{
    color: #2845ffb4;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: left;
}
.newcadcont > .number{
    color: #ffd500b4;
    font-family: sans-serif;
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    left: -15px;
    bottom: -45px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.newcadcont > .number:hover{
    transform: scale(1.04);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.somecont{
    background-image: url(pattern2.png);
    background-size: cover;
    width:10%;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.somecont > .filter{
    height: 93%;
    width: 90%;
    border-radius: 30px;
    padding-top: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.somecont > .filter > p{
    color: #11034deb;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.somecont > .filter > svg{
    color: rgb(202, 49, 49);
}


.somecont > .filter:hover{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* transform: scale(1.04); */
}

.somecont > .filter:hover p{

    transform: scale(1.04);
}

.popupconatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}