.applicantsContainer{
    width: 100%;
    height: 80vh;
    background-color: rgb(195, 240, 233);
    border-radius: 20px;
    overflow-y: hidden;
    padding: 10px 0px;
    margin-top: 20px;
    background-image: url(../assets/jobillustraion.png);
    /* background-blend-mode: color-burn; */
    position: relative;
}

.viewApplicantContainer{
    padding: 10px 10px;
}

.recnav-nav2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 40px;
}
.recnav-nav,.recnav-nav2 p{
    font-size: 30px;
    color: rgb(29, 29, 29);
    font-family: 'Bungee Inline', cursive;
}

.applicantCard{
    background-color: white;
    width: 90%;
    color: black;
    margin: auto 10px 10px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.applicantName{
    padding: 0px 10px 0px 30px;
    font-weight: 600;
    font-size: 20px;
}

.applicantCard button{
    margin: 0px;
    cursor: pointer;
    background-color: lightblue;
    border-radius: 30px;
    color: rgb(1, 1, 70);

}

.filter{
    background: linear-gradient(90deg,lightblue,rgba(255, 255, 255, 0.192));
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    padding-top: 10px;
}